html{
    display: flex;
    justify-content: center;
}

h1,
h3{
    display: flex;
    justify-content: center;
}

/* Grid with 16x16 divs and border around it */
.container{
    box-sizing: border-box;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 348px;
    margin-right: 348px;
}
