html{
    display: flex;
    justify-content: center;
}

h1,
h3{
    display: flex;
    justify-content: center;
}

.same-line{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

/* side box besides grid */
.side-box{
    display: flex;
    box-sizing: border-box;
    border: 3px solid;
    width: 100px;
    height: 200px;
    justify-content: flex-end;
    margin-right: 50px;
}

/* slider styling */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  /* button styling */
.btn{
    margin: 0 auto;
    /* display: block; */
    margin-top: 150px;
    height: 25px;
    width: 100%;
    border-radius: 7px;
}

/* Grid with 16x16 divs and border around it */
.container{
    /* box-sizing: border-box;
    border: 3px solid; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* margin-left: 348px; */
    /* margin-right: 348px; */
    width: fit-content;
    width: 288px;
    /* border: 3px solid; */
}
